</div>
<div class="modal-footer">
  <!-- <button type="button" class="w-100 btn btn-lg btn-primary" data-bs-dismiss="modal">Close</button> -->
  <button type="button" class="btn btn-primary btn-lg w-30" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>